#header {
  box-shadow: rgba(0, 0, 0, 0.075) 0 1px;
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .header_logo {
    height: inherit;
    display: inherit;
    align-items: center;
    margin-left: 24px;
  }
  .nav_container {
    height: inherit;
    margin-right: 14px;
    .nav_block {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 10px;
      height: inherit;
      .nav_item {
        height: inherit;
        display: inherit;
        align-items: center;
        .divider {
          height: 60%;
          width: 1px;
          margin: 0 10px;
          background: rgba(0, 0, 0, 0.075);
        }
        .header_signin-btn {
          cursor: pointer;
        }
        .header_tools-btn {
          cursor: default;
        }
      }
    }
  }
}

.user_modal {
  position: absolute;
  display: none;
  top: 95%;
  right: 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 1px, rgba(0, 0, 0, 0.12) 0 15px 30px 0px;
  border-radius: 10px;
  text-align: left;
  padding: 8px;
  z-index: 999;
  background: #ffffff;
  .user_modal_items {
    .user_modal_item {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 0 15px;
      white-space: nowrap;
      height: 34px;
      border-radius: 6px;
      &:hover {
        background: #ededee;
      }
    }
    .divider {
      height: 1px;
      width: 100%;
      background: #ededee;
      margin: 10px 0;
    }
  }
}

.user_avatar {
  position: relative;
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: 900;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    .user_modal {
      display: flex;
    }
  }
  &-color--1 {
    background: #ffd539;
  }
  &-color--2 {
    background: #e9c46a;
  }
  &-color--3 {
    background: #fb8500;
  }
  &-color--4 {
    background: #ffafcc;
  }
  &-color--5 {
    background: #cdb4db;
  }
  &-color--6 {
    background: #fdf0d5;
  }
  &-color--7 {
    background: #f28482;
  }
  &-color--8 {
    background: #94d2bd;
  }
  &-color--9 {
    background: #2a9d8f;
  }
}