@import 'var_mixins';
@import 'layouts/social_icons';
@import 'layouts/shared/header';
@import 'layouts/shared/footer';
@import 'react_tostify';
@import 'page/index';
@import 'user/generate';

html {
  font-family: $base_font_family;
  font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  ol, ul {
    list-style: none;
  }
}


.link {
  color: #111111;
  font-weight: 500;
  transition: color 0.3s;
  font-size: 100%;
  &:hover {
    color: $default_blue_color;
  }
  &--primary {
    color: $default_blue_color;
    &:hover {
      color: $hover_blue_color;
    }
  }
  &--hover-underline {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

.btn--primary {
  box-shadow: rgba(255, 255, 255, 0) 0 0 0 3px, rgba(0, 102, 255, 0) 0 0 0 4px;
  background: $default_blue_color;
  color: #ffffff;
  &:hover {
    background-color: $hover_blue_color;
  }
}

.btn--secondary {
  box-shadow: inset #d8d8da 0 0 0 1px;
  background: #ffffff;
  color: #111111;
  &:hover {
    box-shadow: inset #b1b0b5 0 0 0 1px;
  }
}

.btn {
  border-radius: 8px;
  cursor: pointer;
  transition: box-shadow .1s,color .1s,background .1s;
  font-weight: 600;
  text-decoration: none;
}

.btn--transparent {
  color: #111111;
  background: #ffffff;
  &:hover {
    background: #f2f2f3;
  }
}

.btn-icon {
  display: flex;
}

.btn--with-icon {
  display: flex;
  flex-direction: row;
  i:first-child {
    margin-right: 10px;
  }
  span {
    flex-grow: 1;
    font-size: 100%;
  }
}

.btn-s {
  border-radius: 8px;
  font-size: 14px;
  padding: 0 12px;
  height: 36px;
  line-height: 36px;
}

.btn-m {
  border-radius: 10px;
  font-size: 16px;
  padding: 0 21px;
  height: 46px;
  line-height: 46px;
}

.wrapper {
  padding: 100px 0;
}

.container {
  max-width: 1500px;
  width: auto;
  padding: 0 42px;
  margin: 0 auto;
}

.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  &__active {
    opacity: 1;
    pointer-events: all;
  }
  &_content {
    border-radius: 12px;
    background-color: #ffffff;
    transform: scale(0.5);
    transition: 0.4s all;
    &__active {
      transform: scale(1);
    }
    .modal_title{
      padding: 32px 24px 24px;
      text-align: center;
      h2 {
        font-weight: 900;
        margin-bottom: 10px;
        font-size: 35px;
      }
      div {
        color: $light_gray_color;
        line-height: 1.4em;
        font-size: 16px;
      }
    }
  }
  &_close {
    position: absolute;
    top: 8px;
    left: 8px
  }
  &_footer {
    box-shadow: rgba(0, 0, 0, 0.075) 0 -1px;
    padding: 16px;
    text-align: center;
    line-height: 1.7em;
    font-size: 14px;
    &_item {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}