@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');

$base_font_family: 'Inter', sans-serif;
$default_blue_color: #0066ff;
$hover_blue_color: #005ce6;
$footer_background: #f7f7f8;
